.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# container-specific files
.devcontainer/.rstudio_config/*
!.devcontainer/.rstudio_config/README.md
.env

/.quarto/
_site/

scratch/*
!scratch/README.md