# Posit Connect Training Server variables
CONNECT_ACCOUNT_ID="your_account_id"
CONNECT_SERVER="rsc.training.rstudio.com"
CONNECT_API_KEY="changeme"

# no changes necessary
RENV_CONFIG_SANDBOX_ENABLED=FALSE
